@charset "UTF-8";
/* CSS Document */

body{
	background: #d8f3fc;
}

#wrapper-main{
	width: 100%;
	height: 100%;
}

#wrapper-phone{
	height: 808px;
	width: 401px;
	background:url(../images/mockup-galaxy.png);
  	margin-left: 0 auto;
  	margin: -404px 0 0 -200px;
  	top: 50%;
  	left: 50%;
  	position: absolute;
}

#wrapper-game{
	height: 640px;
	width: 360px;
	background: url(../images/bg.jpg) -100px;
  	top: 85px;
  	left: 19px;
  	position: absolute;
}

#wrapper-scanner{
	height: 640px;
	width: 360px;
  	top: 85px;
  	left: 19px;
  	position: absolute;
}

#wrapper-monster{
	height: 269px;
	width: 230px;
  	top: 180px;
  	left: 50px;
  	position: absolute;
}

#ui-top{
	height: 50px;
	width: 310px;
	background: url(../images/ui_top.png);
  	top: 25px;
  	left: 25px;
  	position: absolute;
}

#ui-pointer{
	height: 44px;
	width: 20px;
	background: url(../images/pointer.png);
  	top: 7px;
  	position: absolute;
}

#ui-lower{
	height: 62px;
	width: 360px;
  	bottom: 25px;
  	left: 0px;
  	position: absolute;
}

#ui-icon-feed{
	height: 62px;
	width: 78px;
  	top: 0px;
  	left: 25px;
  	position: absolute;
}

#ui-icon-stats{
	height: 62px;
	width: 45px;
  	top: 0px;
  	left: 50%;
	margin-left: -22px;
  	position: absolute;
}

#ui-icon-report{
	height: 60px;
	width: 60px;
  	top: 1px;
  	right: 25px;
  	position: absolute;
}

#overlay-qr{
	height: 640px;
	width: 360px;
	background: url(../images/overlay_qr.png);
  	top: 0px;
  	right: 0px;
  	position: absolute;
}

#wrapper-trash{
	height: 200px;
	width: 360px;
  	top: 400px;
  	left: 0px;
  	position: absolute;
	overflow: hidden;
}

#trash1{
	height: 44px;
	width: 69px;
	background: url(../images/trash1.png);
	top: 95px;
  	left: -15px;
  	position: absolute;
}

#trash2{
	height: 34px;
	width: 66px;
	background: url(../images/trash2.png);
	top: 20px;
  	left: 10px;
  	position: absolute;
}

#trash3{
	height: 49px;
	width: 81px;
	background: url(../images/trash3.png);
	top: 110px;
  	left: 200px;
  	position: absolute;
}

#trash4{
	height: 32px;
	width: 66px;
	background: url(../images/trash4.png);
	top: 120px;
  	left: 80px;
  	position: absolute;
}

#trash5{
	height: 39px;
	width: 90px;
	background: url(../images/trash5.png);
	top: 50px;
  	left: 300px;
  	position: absolute;
}

