<template name="monster">
    <div id="wrapper-main">
        <div id="wrapper-phone">
            <div id="wrapper-game">
                <div id="ui-top">
                    <div id="ui-pointer" style="left: {{getHealth}}px;"></div>
                </div>
                <div id="wrapper-monster"><img id="monster-gif" src="images/monster.gif" alt="monster idle animation" loop="infinite"></div>
                <div id="wrapper-trash">
                    {{#each getTrashSize}}
                        <div id="trash{{this}}"></div>
                    {{/each}}
                </div>
                <div id="ui-lower">
                    <div id="ui-icon-feed"><a href="/scanner"><img src="images/icon_feed.png" alt="icon feed"></a></div>
                    <div id="ui-icon-stats"><a href="#"><img src="images/icon_stats.png" alt="icon stats"></a></div>
                    <div id="ui-icon-report"><a href="#"><img src="images/icon_report.png" alt="icon report"></a></div>
                </div>
            </div>
        </div>
    </div>
</template>